header,nav,footer{
	 background-color: #20B2AA;
	 border-radius: 10px;
	 height:75px ;
	 margin: auto;
	 width: 100%;
} 
nav,footer{/* esta etiqueta na esta erenedando propiedades  de la etiqueta header con (header,nav) */
	height:65px ;
	margin:  10px  auto;
	 /*background-color: #20B2AA;*/
	/* border-radius: 10px;*/
		 
		 /*width: 100%;*/
		 box-shadow:0px 0px 10px red ; /* BORDE con RESPLANDOR */
} 

aside,#content,#articulos{ /* heredando  los id #content y #articulos  para q el contenido de los articulos se acople a los estylos  */
	background-color: #20B2AA;
	border-radius: 10px;
	display: inline-block;
	min-height: 350px;
	min-width: 20%; /*tamaño mini de un elemento */
	vertical-align: top;

}
	article{
		background-color:#778899 ;
		border-radius: 10px;
		min-height: 200px;
		line-height: 20px;/*interlineado  separacion de texto*/
		margin: auto;
		padding: 1.1em;/* tamaño de margen del contenido  entre la etiqueta section y Article(cuadro gris)*/
		text-align: center;
		vertical-align: top;
		width: 80%;


	}




#wrapper{

	box-shadow:10px 10px 2px #ccc ; /* BORDE CON SOMBRA */
	background-color: #ccc;
  border-radius: 10px 10px 10px 10px ; /*borde dela tabla posicion de 4 esquinas */
  line-height: 70px; /*interlineado */
  margin:auto;
  min-height:300px ; /*tamaño minimo de texto  */
  text-align: center;/*alinear texto */
  width: 90%;
}

#content{
		min-width: 54%;
}

#articulos{
		min-width: 25%;
}

/*#imagen{
	border-width:15px;
	width:300px ;
	height: 300px;
	padding: 10px 20px;
	border -image:url("andro1.jpeg") 50 50 round;
	-webkit -border- image:url("andro1.jpeg") 50 50 round;



}*/
 .border h1{ /* ETIQUETA ARTICLE CON RESPLADOR ROJO  Y LETRAS BLANCAS*/

 	text-align:center;
 	padding-top: 20%;
 	text-shadow: red 3px  4px 7px;
 	color:#fff;
 	font-family: trebuchet ms;
}
#footer2 {/* footer  con color de degradado BLANCO VERDE */

	width:auto;
	height:150px ;
	/*background: -webkit-linear-gradient(#4169E1, #4682B4);*/
	background: -webkit-linear-gradient(white, green);
}








/* TRANSICIONES EN CSS CON EL MOUSE  *************************************************************************/




.transicion {

	width:100px; 
	height:100px;
	margin:auto;
	margin-top:10%;
	background:#454545 ;
	-webkit-border-radius:50%;

	transition: width 2s, height 2s;
	-moz-transition: width 2s, height 2s , -moz-transform 2s ;
	-webkit-transition: width 2s, height 2s , -moz-transform 2s ;
	-o-transition: width 2s, height 2s , -o-transform 2s ;

}

.transicion2{

	width:100px; 
	height:100px;
	margin:auto;
	margin-top:10%;
	background:#454545 ;
	-webkit-border-radius:;

	transition: width 2s, height 2s;
	-moz-transition: width 2s, height 2s , -moz-transform 2s ;
	o-transition: width 2s, height 2s , -o-transform 2s ;



}




.transicion:hover, .transicion2:hover{/*hover = es cuando pase el raton*/

				width:200px;
				height:200px;
				background:blue;
				transform:rotate(360deg);

				/*ROTACION DE LA FIGURA con transform */
				 moz-transform:rotate(360deg);/*ROTACION DE LA FIGURA*/
			 	webkit-transform:rotate(360deg);
			 	-o-transform:rotate(360deg);
				}



/*------------------------------------------------------------------------------------------------------*/




            #efecto1{
            	/*   REVISAR  CODIGO DE COLORES EN :https://es.wikipedia.org/wiki/Colores_web     */
            	background:rgba(255,0,0,0.3);/*255,0,0=color,0.3=opacidad*/
            	width:150px ;
            	height:150px ;
            	margin:10% auto;

            	transform:rotate(180deg) ;
            	-webkit-transform:rotate(180deg) ;
            	-moz-transform:rotate(180deg) ;

            	/* EFECTO DE LA TRANSICION DE LA FIGURA*/
            	transition: all 2s ease-in-out ;/* EFECTO DE LA TRANSICION DE LA FIGURA*/
				-webkit-transition: all 2s ease-in-out ;
				-moz-transition: all 2s ease-in-out ;

				}	

				#efecto1:hover { /*hover = es cuando pase el raton*/

						background:#f33;
						width: 200px;
						height: 200px;
						border-radius:50% ;
						-webkit-border-radius:50% ;/* para que corra en navegadores */
						-moz-border-radius:50% ;

						/*TRANFORMACION  DE LA FIGURA con transform */
						transform:rotate(-180deg); 
						-webkit-transform: rotate(-180deg); /*rotacion de - 180 contrario ala manecillas del reloj*/
						-moz-transform: rotate(-180deg); 

						/*Recordar que los prefijos - webkit y (-moz,-o,-webkit ) son para corran los efectos 
						dependiendo de cada navegador hay que colocar prefijos  */
				}

/*------------------------------------------------------------------------------------------------------*/

	/* EFECTO 2            anima1.html */
	#efecto2{
		width:250px;
		height:250px;
		margin: 10% auto;


	}
	.boton{
      width :120px;
      height: 120px;

      background: #00ff00;
      position:relative;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      display:block;
      text-decoration:none;
      float: left; 
      margin:20px 0 2px 25% ; 

      /* sombra   investtigar html5 inset  */
      box-shadow: 0 0 5px 0 rgba(0,100,0,0.5) inset, 0 -1px 5px 4px rgba(0,128,0,0.2) inset,0 0 0 7px #fff ,0 0 1px 8px rgba(188,188,188,0.4);
       -webkit-box-shadow:0 0 5px 0 rgba(0,100,0,0.5) inset, 0 -1px 5px 4px rgba(0,128,0,0.2) inset,0 0 0 7px #fff ,0 0 1px 8px rgba(188,188,188,0.4);
        -moz-box-shadow:0 0 5px 0 rgba(0,100,0,0.5) inset, 0 -1px 5px 4px rgba(0,128,0,0.2) inset,0 0 0 7px #fff ,0 0 1px 8px rgba(188,188,188,0.4);

        transition: all 0.3s linear ;
        -webkit-transition: all 0.3s linear ;
        -moz-transition: all 0.3s linear ;
	}

.boton span {
	width:80px ;
	height:80px;
	padding:20px ;
	text-align: center;
	vertical-align:middle;
	font-size: 26px ;
	color: #fff;

	text-shadow:0 1px 1px #a03f16 ; /* texto con sombra */
	font-family:"Arvo", "Myriad Pro" ;

	transition: all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		display:table-cell;

}
/* investigar sobre nth-child () */
.boton span:nth-child(3) {/*  al decir nth-child(3): significa que se esta llamando a la  etiqueta 3 ≤span> del archivo anima1.html una seudoclase */  
	margin-top: 17px;


	} 
	.boton span:nth-child(1),  .boton span:nth-child(3){/*   significa que se esta llamando a la  etiqueta  ≤span> 1 y la ≤span> 3del archivo anima1.html una seudoclase */  
	position:absolute;
	top:0 ;
	left: 0;
	font-size:30px ;
	line-height: 36px;
	opacity:0;/* ocultar span 3 */


	} 
				/* imagen de efecto oculta */
	.boton span:nth-child(1){
		background: transparent url(estrella2.png) no-repeat center center;
		opacity:0.2;

	} 
	.boton:hover 
	{
		/* cunando el raton pase sobre la imagen */
		background: rgba(0,0,139,0.6);

		box-shadow:0 0 5px 0 rgba(246,212,163,0.5) inset, 0 -1px 5px 4px  rgba(170,77,27,0.2) inset, 0 0 0 7px #fff , 1px 4px 5px 8px rgba(188,188,188,0.6), 0 0 0 9px #fff;
		-webkit-box-shadow: 0 0 5px 0 rgba(246,212,163,0.5) inset , 0 -1px 5px 4px  rgba(170,77,27,0.2) inset, 0 0 0 7px #fff , 1px 4px 5px 8px rgba(188,188,188,0.6), 0 0 0 9px #fff;;
		-moz-box-shadow: 0 0 5px 0 rgba(246,212,163,0.5) inset , 0 -1px 5px 4px  rgba(170,77,27,0.2) inset, 0 0 0 7px #fff , 1px 4px 5px 8px rgba(188,188,188,0.6), 0 0 0 9px #fff;;

	}
.boton:hover span:nth-child(3){/* aparece eltexto gratis pero haun se observa entrar */

	opacity:1;
}

.boton:hover span:nth-child(2){

opacity:0;
transform:scale(0);
-webkit-transform:scale(0);
-moz-transform:scale(0);
}

.boton:active{

	  box-shadow:0 0 5px 0 rgba(246,212,163,0.5) inset, 0 -1px 5px 4px rgba(170,77,27,0.2) inset, 0 0 0 7px #fff, 0 -1px 0 8px rgba(188,188,188,0.3), 0 0 0 10px #fff;
	  	 -webkit-box-shadow:0 0 5px 0 rgba(246,212,163,0.5) inset, 0 -1px 5px 4px rgba(170,77,27,0.2) inset, 0 0 0 7px #fff, 0 -1px 0 8px rgba(188,188,188,0.3), 0 0 0 10px #fff;
	  	  	-moz-box-shadow:0 0 5px 0 rgba(246,212,163,0.5) inset, 0 -1px 5px 4px rgba(170,77,27,0.2) inset, 0 0 0 7px #fff, 0 -1px 0 8px rgba(188,188,188,0.3), 0 0 0 10px #fff;


}
.boton:active span:nth-child(2){

	color:rgba(170,77,27,0.8);
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);




}











